*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color:white;
    display: flex;
    align-items: center; /*cross axis centre (vertical)*/
    justify-content:space-evenly;
}
.nav-logo{
    width: 114px;
    height: 50px;
}
.logo{
    width: 100%;
    height: 50px;
    background-image: url("amazon_logo.png");
    background-size: cover;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
     border: 1.5px solid white;
}

.deliver-to{
    font-size: 12px;
    color: #CCCCCC;
    margin-left: 20px;
}
.country{
    font-size: 14px;
    color:white;
    padding: 0px 0px 1px;
}
.add-icon{
    display: flex;
}
.nav-search{
    display: flex;
    width: 620px;
    height:40px;
    border-radius: 5px;
    margin-left: 20px;
}
.nav-search:hover{
    border: 2px solid rgba(255, 166, 0, 0.897);
}
.search-select{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width:50px;
    background-color: #f3f3f3;
    text-align: center;
    border: none;
}
.search-input{
    width: 100%;
    border: none;
    font-size: 1rem;
}
.search-icon{
    display:flex;
    justify-content: center;/*for main axis(horizontal)*/
    align-items: center;/*for cross axix(vertical)*/
    width: 50px;
    color:#0f1111;
    background-color: rgba(215, 180, 6, 0.886);
    font-size: 1.2rem;  
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.sign-in {
    font-size: 12px;
}
.accounts {
    font-size: 14px;
    font-weight: 700;
}
.cart i{  /*for specially i tag in class cart*/
    font-size: 25px;
}
.cart{
    font-size: 18px;
}
/*second navigation panel*/
.nav-second{
    height: 39px;
    color: white;
    background-color: #283737;
    display: flex;
    align-items: center;
    font-size:14px;
}
.menu{
    width: 48px;
}
.nav-2-item{
    margin-right: 14px;
    padding: 7px;
}
/*hero image*/
.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-msg{
    height:  30px;
    width:85%;
    font-size: 14px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.hero-msg a{
    text-decoration: none;
    color: rgb(38, 38, 205)
}
.hero-msg a:hover{
    text-decoration: underline ;
}

.shopping-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
     background-color: #e2e7e6;
}
.box{
    background-color: white;
    height: 400px;
    width: 22%;
    border: 2px solid black; 
    margin-top: 10px;
    
}
.box-img{
    height:300px;
    background-repeat: no-repeat;
    margin-top: 20px;
    background-size:contain;

}
.box-content{
    padding: 20px 5px 15px 5px;
  
}
.box-content a{    
    text-decoration: none;
}
.sign{
    display:flex;
    justify-content: center;

}
.personalised-recomendations{
    height: 148px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recomm{
    margin-top: 20px;
}
.sign-in-foot{
    width: 168px;
    background-color: rgb(239, 180, 33);
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: 12px;
}
.back-to-top{
    height: 50px;
    background-color: #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.end{
    height: 300px;
    background-color:#232f3e;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
.h4{
    color: white;
}
.list{
    list-style-type:none;
    color:#dddddd;
    font-size: 14px;
}
.list-items{
    margin-top: 12px;
}
.list-items:hover{
    text-decoration: underline solid #dddddd;
}

